body{
    margin: 0px

}
header{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.margin{
    margin-right: 10vw;
}
.container{
    margin: 3vw;
    display: flex;
}
#about{
    text-align: center;
    width: 50vw;
}
#name{
    text-align: center;
    width: 50vw; 
}
.websites{
    text-align: center;
}
nav{
    margin-left: 0vw;
}
img{
    width: 30vw;
    height: 30vh;
}
.web h6{
font-size: 1rem;
}
.web{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
b{
    font-style: italic;
}
.large{
    font-size: 2rem;
    color: grey;
}
.margin{
    margin: 1vw;
}
.img{
    width: 30vw;
    height: auto;
}
