body{
    margin: 0px;
    background-color: lightgrey;
}
header{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    
}
.nav{
    display: flex;
    align-items: center;
}
.margin{
    margin-right: 10vw;
}
.container{
    margin: 3vw;
    display: flex;
    background-color: rgb(129, 214, 214);
}
#about{
    text-align: center;
    width: 50vw;
}
#name{
    text-align: center;
    width: 50vw; 
}
.websites{
    text-align: center;


    background-color: rgb(169, 231, 211);
    margin: 3vw;

}
nav{
    margin-left: 0vw;
}
img{
    width: 25vw;
    height: 30vh;
    box-shadow: 10px 10px 10px 3px grey;
}
.web h6{
font-size: 1rem;
}
.web{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
b{
    font-style: italic;
}
.large{
    font-size: 2rem;
    color: grey;
}
.margin{
    margin: 1vw;
}
.img{
    width: 30vw;
    height: auto;
    margin-top: 3vh;
}
.but{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 50px;
    background-color: black;
    color: green;
}
